tmp/
*.tmp
*.off
*.old
*.wip
*.WIP

# Build artifacts
out.*/
*.out/
build.*/
# Accidental stray/leftower outputs elsewhere
*.obj
*.ifc
*.pdb
*.ilk
*.exp
*.exe

!tooling/*.exe

*.code-workspace
*.vscode

asset/music/*
!asset/music/README.*
!asset/music/default.ogg

release/
_release/

import/

*.lock
cache/

*.sav

extern/*
!extern/sfw/
extern/sfw/lib/msvc/*-d.lib
