tmp/
*.tmp
*.off
*.old
*.wip
*.WIP

# Build artifacts
out.*/
*.out/
build.*/
# Accidental stray/leftower outputs elsewhere
*.obj
*.o
# Add tracked libs selectively with add -f!
*.lib
*.ifc
*.pdb
*.ilk
*.rdi
*.exp
*.exe
gcm.cache
# Something tends to create a small .lib alongside the .exe:
#test/*.lib

!tooling/*.exe
tooling/edit/vscodium/user-data-dir
# Yeah, this does nothing for Git... Just leaving here as a reminder.
# I just force-added these files:
!tooling/edit/vscodium/user-data-dir/User/settings.json
!tooling/edit/vscodium/user-data-dir/User/keybindings.json
!tooling/edit/vscodium/user-data-dir/User/extensions.json
!tooling/edit/vscodium/user-data-dir/User/snippets
# Too much legacy gunk currently, so keep them ignored:
*.code-workspace
*.vscode

**/sound/music/*
# Ditto (as with the VSCode junk): not the way to "ignore, except these..." with Git:
!**/sound/music/README.*
!**/sound/music/default.ogg

#!! This fkn thing again doesn't do what's expected, I'm tired of it...
#!!?? release/
#!!?? !release/_template/

import/

*.log
*.lock
cache/

#*.sav*
*.autosav*

extern/*
!extern/myco/asset/
!extern/myco/include/
!extern/myco/lib/
extern/myco/lib/*-d.lib

!extern/sz/
