tmp/
*.tmp
*.off

out/

# Stray items from accidental compilations outside "out"
*.obj
*.ifc
*.pdb
*.ilk
*.exe
!tooling/*.exe

*.code-workspace

asset/music/*
!asset/music/README.*
!asset/music/default.ogg

release/
_release/

import/

*.lock
cache/

*.sav
