# Since I'll forget to update this most of the time (not yet automated!),
# this is just a best effort "ONCE SEEN" list that's probably still better
# than nothing...

[own]
O2N      = 0.98     # Via a symlink!
SFML     = 3.0.1    # Via a symlink to O2N's own extern/sfml!

[O2N's tansitive deps # See there!... (But also listed here, just FTR.)
	[own]
	MycoGUI  = 0.73
	szlib    = 0.22
	iniman   = 0.899.1
	Args     = 2.0.2

	[3rd-party]
	SFML     = 3.0.1
	zstd     = 1.5.6
]

[local 3rd-party]
